header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: rgb(237, 109, 241);
   width: 100%;
   padding: 20px;
 }
 header ul{ 
   list-style: none;
   display: flex;
   flex-direction: row;
 }
 header ul li{
margin: 20px;
  }
 img{ 
  max-width: 100%;
   height: auto;

 }
 h1{ 
   font-size: 24px;
   color: rgb(29, 29, 228);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   
 }
 p{ 
   font-size: 22px;
   color: rgb(20, 19, 20);
 }
 
 .contenedor{
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 10px 0 10px 0;
   background-color: rgb(109, 241, 234);
   padding: 40px;
  }
  .caja{
   width: 100%;
   height: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }
   .caja img{ 
      border-radius: 50%;
   }

  .presentacion{
   width: 100%;
   font-size: 20px;
   background-color: rgb(109, 241, 234);
   margin: 20px;
   padding: 40px;
   
 }

 body {
  background-color: rgb(8, 8, 8);
}


  .Empoderamiento {
    background-color: rgb(220, 235, 85);
    padding: 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
   color: rgb(1, 1, 10);
  }
.ciberseguridad{
  background-color: rgb(220, 235, 85);
    padding: 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
   color: rgb(1, 1, 10);
}
.liderazgo{
  background-color: rgb(220, 235, 85);
  padding: 15px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
   color: rgb(1, 1, 10);
}

.BANNER_LOGO{
  display: flex;
  align-items: center;
  
}
@media (max-width:767px){
  header{ 
    flex-direction: column;
  }
nav{
  padding: 10px 0px;
}
}



